<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customSites</key>
	<dict>
		<key>5FFB2D26-50FD-4AE5-B264-8B720D14DB22</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>cd</string>
			<key>text</key>
			<string>search cambridge dictionary for {query}</string>
			<key>url</key>
			<string>https://dictionary.cambridge.org/us/dictionary/english/{query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>976B8CE3-912C-45D5-8CEF-F8E5CCB031BE</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>csfd</string>
			<key>text</key>
			<string>Search www.csfd.cz for '{query}'</string>
			<key>url</key>
			<string>https://www.csfd.cz/hledat/?q={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>FD32303C-4F4C-4E00-A10F-35E708247658</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>gh</string>
			<key>text</key>
			<string>Search Github for '{query}'</string>
			<key>url</key>
			<string>https://github.com/search?q={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
	</dict>
	<key>onlyShowEnabledInPrefs</key>
	<true/>
</dict>
</plist>
