; legend -> https://johnlindquist.com/customize-karabiner-with-goku/
; docs -> https://github.com/yqrashawn/GokuRakuJoudo/blob/master/tutorial.md
; example -> https://github.com/kchen0x/k-goku
; simlayers -> https://gist.github.com/gsinclair/f4ab34da53034374eb6164698a0a8ace
{
        :profiles {:Default {:default true :sim 50 :delay 500 :alone 500 :held 500}}
        :applications {:terminals ["^com\\.apple\\.Terminal$" "^com\\.googlecode\\.iterm2$"]}
        :layers {
                :hyper-mode {:key :caps_lock :alone {:key :escape}} ; ctrl+caps for caps toggle
        }
        :simlayers {
                :alfred-mode {:key :z}
                :tmux-mode {:key :1 :condi :terminals}
                :launch-mode {:key :2}
        }
        :templates {
                :open "open \"%s\""
                :alf "open /Applications/Alfred\\ 5.app && osascript -e 'tell application \"Alfred 5\" to search \"%s\"'"
        }
        :main [
                {:des "Map shift+ESC to ~, LCMD+ESC to `"
                 :rules [[:!Cescape :grave_accent_and_tilde]
                        [:!Sescape :!Sgrave_accent_and_tilde]
                        [:!Rescape :!Rgrave_accent_and_tilde]
                        ]}
                {:des "Map shift+backspace to del"
                 :rules [[:!Sdelete_or_backspace :delete_forward]
                        ]}

                {:des "Alfred Mode"
                 :rules [:alfred-mode
                        [:r [[:alf "repo "]]]
                        [:p [[:alf "pr "]]]
                        [:l [[:alf "lh "]]]
                        [:e [[:alf "emoji "]]]
                        [:s [[:alf "sleep"]]]
                        [:d [[:alf "duck "]]]
                         ]}

                {:des "Launch Mode - Quickly open apps"
                :rules [:launch-mode
                        [:s [:open "/Applications/Slack.app"]]
                        [:m [:open "/Applications/Spotify.app"]]
                        [:i [:open "/Applications/iTerm.app"]]
                        [:c [:open "/Applications/Google Chrome.app"]]
                        [:v [:open "/Applications/Visual Studio Code.app"]]
                        [:n [:open "/Applications/NotePlan 3.app"]]
                        [:p [:open "/pplications/Postico 2.app"]]
                        ]}

                {:des "Tmux Mode"
                 :rules [:tmux-mode
                        [:comma [:!Ta :comma]] ; rename window
                        [:open_bracket [:!Ta :open_bracket]] ; [ - reorder
                        [:close_bracket [:!Ta :close_bracket]]; ] - reorder
                        [:backslash [:!Ta :backslash]] ; menu
                        [:w [:!Ta :w]] ; window selector
                        [:v [:!Ta :v]] ; vertical split
                        [:t [:!Ta :t]] ; vertical small split
                        [:f [:!Ta :!St]] ; fullscreen
                        [:h [:!Ta :h]] ; horizontal split
                        [:j [:!Ta :j]] ; pane left
                        [:k [:!Ta :k]] ; pane right
                        [:l [:!Ta :l]]
                        [:s [:!Ta :s]] ; horizontal split
                        [:r [:!Ta :r]] ; reload config
                        [:i [:!Ta :!Si]] ; reload plugins
                        [:m [:!Ta :z]] ; toggle pane zoom
                        [:x [:!Ta :x]] ; kill pane
                        [:c [:!Ta :c]] ; create window
                        [:p [:!Ta :p]] ; create window
                        ; TODO: copy paste mode
                        ]}

               {:des "Hyper Mode - Media Keys"
                :rules [:hyper-mode
                        ; media keys
                        [:1 :display_brightness_decrement]
                        [:2 :display_brightness_increment]
                        [:3 :mission_control]
                        [:4 :launchpad]
                        [:5 :illumination_decrement]
                        [:6 :illumination_increment]
                        [:7 :rewind]
                        [:8 :play_or_pause]
                        [:9 :fastforward]
                        [:0 :mute]
                        [:hyphen :volume_decrement]
                        [:equal_sign :volume_increment]
                        ]}

               {:des "Hyper Mode - Navigation [VI style]"
                :rules [:hyper-mode
                        [:h :left_arrow :!terminals]
                        [:j :down_arrow :!terminals]
                        [:k :up_arrow :!terminals]
                        [:l :right_arrow :!terminals]
                        ; text selection with shift
                        [:!Sh :!Sleft_arrow :!terminals]
                        [:!Sl :!Sright_arrow :!terminals]
                        [:!Sj :!SCleft_arrow :!terminals]
                        [:!Sk :!SCright_arrow :!terminals]
                        ; alt + hjkl = alt + arrows (move by words)
                        [:!Oj :!Odown_arrow :!terminals]
                        [:!Ok :!Oup_arrow :!terminals]
                        [:!Oh :!Oleft_arrow :!terminals]
                        [:!Ol :!Oright_arrow :!terminals]
                        ]}

               {:des "Hyper Mode - Partial CTRL Mapping [VIM <C-*> key support]"
                :rules [:hyper-mode
                        [:h :!Th :terminals]
                        [:j :!Tj :terminals]
                        [:k :!Tk :terminals]
                        [:l :!Tl :terminals]
                        ; not mapping ACDZ intentionally
                        [:d :!Td :terminals]
                        [:u :!Tu :terminals]
                        [:n :!Tn :terminals]
                        [:p :!Tp :terminals]
                        [:q :!Tq :terminals]
                        [:s :!Ts :terminals]
                        [:x :!Tx :terminals]
                        [:w :!Tw :terminals]
                        [:v :!Tv :terminals]
                        [:f :!Tf :terminals]
                        [:hyphen :!Tleft_arrow :terminals]
                        [:equal_sign :!Tright_arrow :terminals]
                        ]}
        ]
}

