<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.flydev.localhost2</string>
	<key>connections</key>
	<dict>
		<key>68DCF1E9-EC5A-4742-9942-CC093ECED366</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E6C32EC1-2EBE-471F-BDC5-D007053646BF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>7CD4D1D5-84AB-489F-8D91-D8307FD4DBA0</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Using HTTPS</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7CD4D1D5-84AB-489F-8D91-D8307FD4DBA0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>59BB7735-EFA2-48F8-98B6-892AF19B70C7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E6C32EC1-2EBE-471F-BDC5-D007053646BF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>59BB7735-EFA2-48F8-98B6-892AF19B70C7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Martín M.</string>
	<key>description</key>
	<string>Open localhost port on browser</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>localhost2</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>variables</key>
				<dict>
					<key>port</key>
					<string>{query}</string>
					<key>protocol</key>
					<string>http</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>E6C32EC1-2EBE-471F-BDC5-D007053646BF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>lh</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Open localhost:{query}</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>68DCF1E9-EC5A-4742-9942-CC093ECED366</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{var:protocol}://localhost:{var:port}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>59BB7735-EFA2-48F8-98B6-892AF19B70C7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>variables</key>
				<dict>
					<key>port</key>
					<string>{query}</string>
					<key>protocol</key>
					<string>https</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>7CD4D1D5-84AB-489F-8D91-D8307FD4DBA0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Open localhost port on browser</string>
	<key>uidata</key>
	<dict>
		<key>59BB7735-EFA2-48F8-98B6-892AF19B70C7</key>
		<dict>
			<key>xpos</key>
			<integer>650</integer>
			<key>ypos</key>
			<integer>140</integer>
		</dict>
		<key>68DCF1E9-EC5A-4742-9942-CC093ECED366</key>
		<dict>
			<key>xpos</key>
			<integer>90</integer>
			<key>ypos</key>
			<integer>140</integer>
		</dict>
		<key>7CD4D1D5-84AB-489F-8D91-D8307FD4DBA0</key>
		<dict>
			<key>xpos</key>
			<integer>420</integer>
			<key>ypos</key>
			<integer>240</integer>
		</dict>
		<key>E6C32EC1-2EBE-471F-BDC5-D007053646BF</key>
		<dict>
			<key>xpos</key>
			<integer>420</integer>
			<key>ypos</key>
			<integer>100</integer>
		</dict>
	</dict>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string>https://github.com/skydiver/</string>
</dict>
</plist>
